<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="WindowsAzureEndPoint" address="https://management.core.windows.net" binding="webHttpBinding" bindingConfiguration="WindowsAzureServiceManagement_WebHttpBinding" contract="Microsoft.Samples.WindowsAzure.ServiceManagement.IServiceManagement"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="CertificateFile" value="D:\Milinda\Workspace\Azure\Certificates\ManagementApiCert.cer"/>
    <add key="WorkerRolePkg" value="D:\Milinda\Workspace\sigiri-new\modules\daemons\azure\SigiriAzureIntegration\Simple_WorkerRole\bin\Release\app.publish\Simple_WorkerRole.cspkg"/>
    <add key="WorkerRoleConfig" value="D:\Milinda\Workspace\sigiri-new\modules\daemons\azure\SigiriAzureIntegration\Simple_WorkerRole\bin\Release\app.publish\ServiceConfiguration.Cloud.cscfg"/>
  </appSettings>
</configuration>
